anthropic
openai
pre-commit
datasets
tiktoken
libcst
llama-index
jsonlines
# Release 2.0.13, on Aug 20, 2024
swebench @ git+https://github.com/princeton-nlp/SWE-bench@7336033d65d32ec62f9ce2419aa8f3a757b06ce2

# Required GCP libraries.
google-cloud-pubsub
google-cloud-storage