anthropic
openai
pre-commit
datasets
tiktoken
libcst
llama-index
jsonlines
# Agentless is compatabile with SweBench Release 2.1.7, on Dec 9, 2024
# See https://github.com/OpenAutoCoder/Agentless/issues/52#issuecomment-2606277356 for details.
swebench @ git+https://github.com/princeton-nlp/SWE-bench@5f5a7df799663adba4b191eca3d675faf3621fe2

# Required GCP libraries.
google-cloud-pubsub
google-cloud-storage